<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.GrCapAlpha</key>
  <array>
    <string>GrCapAlpha</string>
    <string>GrCapAlphaWMacron</string>
    <string>GrCapAlphaWVrachy</string>
  </array>
  <key>public.kern1.GrCapAlphaWTonos</key>
  <array>
    <string>GrCapAlphaWDasia</string>
    <string>GrCapAlphaWDasiaOxia</string>
    <string>GrCapAlphaWDasiaOxiaPros.ISub</string>
    <string>GrCapAlphaWDasiaPeris</string>
    <string>GrCapAlphaWDasiaPeris.Por</string>
    <string>GrCapAlphaWDasiaPerisPros.ISub</string>
    <string>GrCapAlphaWDasiaPerisPros.Por.ISub</string>
    <string>GrCapAlphaWDasiaPros.ISub</string>
    <string>GrCapAlphaWDasiaVaria</string>
    <string>GrCapAlphaWDasiaVariaPros.ISub</string>
    <string>GrCapAlphaWOxia</string>
    <string>GrCapAlphaWPros.ISub</string>
    <string>GrCapAlphaWPsili</string>
    <string>GrCapAlphaWPsiliOxia</string>
    <string>GrCapAlphaWPsiliOxiaPros.ISub</string>
    <string>GrCapAlphaWPsiliPeris</string>
    <string>GrCapAlphaWPsiliPeris.Por</string>
    <string>GrCapAlphaWPsiliPerisPros.ISub</string>
    <string>GrCapAlphaWPsiliPerisPros.Por.ISub</string>
    <string>GrCapAlphaWPsiliPros.ISub</string>
    <string>GrCapAlphaWPsiliVaria</string>
    <string>GrCapAlphaWPsiliVariaPros.ISub</string>
    <string>GrCapAlphaWTonos</string>
    <string>GrCapAlphaWVaria</string>
  </array>
  <key>public.kern1.GrCapOmegaWTonos</key>
  <array>
    <string>GrCapOmegaWDasia</string>
    <string>GrCapOmegaWDasiaOxia</string>
    <string>GrCapOmegaWDasiaOxiaPros.ISub</string>
    <string>GrCapOmegaWDasiaPeris</string>
    <string>GrCapOmegaWDasiaPeris.Por</string>
    <string>GrCapOmegaWDasiaPerisPros.ISub</string>
    <string>GrCapOmegaWDasiaPerisPros.Por.ISub</string>
    <string>GrCapOmegaWDasiaPros.ISub</string>
    <string>GrCapOmegaWDasiaVaria</string>
    <string>GrCapOmegaWDasiaVariaPros.ISub</string>
    <string>GrCapOmegaWOxia</string>
    <string>GrCapOmegaWPros.ISub</string>
    <string>GrCapOmegaWPsili</string>
    <string>GrCapOmegaWPsiliOxia</string>
    <string>GrCapOmegaWPsiliOxiaPros.ISub</string>
    <string>GrCapOmegaWPsiliPeris</string>
    <string>GrCapOmegaWPsiliPeris.Por</string>
    <string>GrCapOmegaWPsiliPerisPros.ISub</string>
    <string>GrCapOmegaWPsiliPerisPros.Por.ISub</string>
    <string>GrCapOmegaWPsiliPros.ISub</string>
    <string>GrCapOmegaWPsiliVaria</string>
    <string>GrCapOmegaWPsiliVariaPros.ISub</string>
    <string>GrCapOmegaWTonos</string>
    <string>GrCapOmegaWVaria</string>
  </array>
  <key>public.kern1.GrCapOmicronWTonos</key>
  <array>
    <string>GrCapOmicronWDasia</string>
    <string>GrCapOmicronWDasiaOxia</string>
    <string>GrCapOmicronWDasiaVaria</string>
    <string>GrCapOmicronWOxia</string>
    <string>GrCapOmicronWPsili</string>
    <string>GrCapOmicronWPsiliOxia</string>
    <string>GrCapOmicronWPsiliVaria</string>
    <string>GrCapOmicronWTonos</string>
    <string>GrCapOmicronWVaria</string>
  </array>
  <key>public.kern1.GrCapUpsilon</key>
  <array>
    <string>GrCapUpsilon</string>
    <string>GrCapUpsilonWDial</string>
    <string>GrCapUpsilonWMacron</string>
    <string>GrCapUpsilonWVrachy</string>
  </array>
  <key>public.kern1.GrCapUpsilonWTonos</key>
  <array>
    <string>GrCapUpsilonWDasia</string>
    <string>GrCapUpsilonWDasiaOxia</string>
    <string>GrCapUpsilonWDasiaPeris</string>
    <string>GrCapUpsilonWDasiaPeris.Por</string>
    <string>GrCapUpsilonWDasiaVaria</string>
    <string>GrCapUpsilonWOxia</string>
    <string>GrCapUpsilonWTonos</string>
    <string>GrCapUpsilonWVaria</string>
  </array>
  <key>public.kern1.GrSmAlpha</key>
  <array>
    <string>GrSmAlpha</string>
    <string>GrSmAlphaWMacron</string>
    <string>GrSmAlphaWOxia</string>
    <string>GrSmAlphaWOxiaYpo</string>
    <string>GrSmAlphaWPeris</string>
    <string>GrSmAlphaWPeris.Por</string>
    <string>GrSmAlphaWPerisYpo</string>
    <string>GrSmAlphaWPerisYpo.Por</string>
    <string>GrSmAlphaWTonos</string>
    <string>GrSmAlphaWVaria</string>
    <string>GrSmAlphaWVariaYpo</string>
    <string>GrSmAlphaWVrachy</string>
    <string>GrSmAlphaWYpo</string>
  </array>
  <key>public.kern1.GrSmAlphaWPsili</key>
  <array>
    <string>GrSmAlphaWDasia</string>
    <string>GrSmAlphaWDasiaOxia</string>
    <string>GrSmAlphaWDasiaOxiaYpo</string>
    <string>GrSmAlphaWDasiaPeris</string>
    <string>GrSmAlphaWDasiaPeris.Por</string>
    <string>GrSmAlphaWDasiaPerisYpo</string>
    <string>GrSmAlphaWDasiaPerisYpo.Por</string>
    <string>GrSmAlphaWDasiaVaria</string>
    <string>GrSmAlphaWDasiaVariaYpo</string>
    <string>GrSmAlphaWDasiaYpo</string>
    <string>GrSmAlphaWPsili</string>
    <string>GrSmAlphaWPsiliOxia</string>
    <string>GrSmAlphaWPsiliOxiaYpo</string>
    <string>GrSmAlphaWPsiliPeris</string>
    <string>GrSmAlphaWPsiliPeris.Por</string>
    <string>GrSmAlphaWPsiliPerisYpo</string>
    <string>GrSmAlphaWPsiliPerisYpo.Por</string>
    <string>GrSmAlphaWPsiliVaria</string>
    <string>GrSmAlphaWPsiliVariaYpo</string>
    <string>GrSmAlphaWPsiliYpo</string>
  </array>
  <key>public.kern1.GrSmEpsilon</key>
  <array>
    <string>GrSmEpsilon</string>
    <string>GrSmEpsilonWOxia</string>
    <string>GrSmEpsilonWTonos</string>
    <string>GrSmEpsilonWVaria</string>
  </array>
  <key>public.kern1.GrSmEpsilonWPsili</key>
  <array>
    <string>GrSmEpsilonWDasia</string>
    <string>GrSmEpsilonWDasiaOxia</string>
    <string>GrSmEpsilonWDasiaVaria</string>
    <string>GrSmEpsilonWPsili</string>
    <string>GrSmEpsilonWPsiliOxia</string>
    <string>GrSmEpsilonWPsiliVaria</string>
  </array>
  <key>public.kern1.GrSmEta</key>
  <array>
    <string>GrSmEta</string>
    <string>GrSmEtaWOxia</string>
    <string>GrSmEtaWOxiaYpo</string>
    <string>GrSmEtaWPeris</string>
    <string>GrSmEtaWPeris.Por</string>
    <string>GrSmEtaWPerisYpo</string>
    <string>GrSmEtaWPerisYpo.Por</string>
    <string>GrSmEtaWTonos</string>
    <string>GrSmEtaWVaria</string>
    <string>GrSmEtaWVariaYpo</string>
    <string>GrSmEtaWYpo</string>
  </array>
  <key>public.kern1.GrSmEtaWPsili</key>
  <array>
    <string>GrSmEtaWDasia</string>
    <string>GrSmEtaWDasiaOxia</string>
    <string>GrSmEtaWDasiaOxiaYpo</string>
    <string>GrSmEtaWDasiaPeris</string>
    <string>GrSmEtaWDasiaPeris.Por</string>
    <string>GrSmEtaWDasiaPerisYpo</string>
    <string>GrSmEtaWDasiaPerisYpo.Por</string>
    <string>GrSmEtaWDasiaVaria</string>
    <string>GrSmEtaWDasiaVariaYpo</string>
    <string>GrSmEtaWDasiaYpo</string>
    <string>GrSmEtaWPsili</string>
    <string>GrSmEtaWPsiliOxia</string>
    <string>GrSmEtaWPsiliOxiaYpo</string>
    <string>GrSmEtaWPsiliPeris</string>
    <string>GrSmEtaWPsiliPeris.Por</string>
    <string>GrSmEtaWPsiliPerisYpo</string>
    <string>GrSmEtaWPsiliPerisYpo.Por</string>
    <string>GrSmEtaWPsiliVaria</string>
    <string>GrSmEtaWPsiliVariaYpo</string>
    <string>GrSmEtaWPsiliYpo</string>
  </array>
  <key>public.kern1.GrSmIota</key>
  <array>
    <string>GrPros</string>
    <string>GrSmIota</string>
    <string>GrSmIotaWMacron</string>
    <string>GrSmIotaWOxia</string>
    <string>GrSmIotaWPeris</string>
    <string>GrSmIotaWPeris.Por</string>
    <string>GrSmIotaWTonos</string>
    <string>GrSmIotaWVaria</string>
    <string>GrSmIotaWVrachy</string>
  </array>
  <key>public.kern1.GrSmIotaWDial</key>
  <array>
    <string>GrSmIotaWDial</string>
    <string>GrSmIotaWDialOxia</string>
    <string>GrSmIotaWDialPeris</string>
    <string>GrSmIotaWDialPeris.Por</string>
    <string>GrSmIotaWDialTonos</string>
    <string>GrSmIotaWDialVaria</string>
  </array>
  <key>public.kern1.GrSmIotaWPsili</key>
  <array>
    <string>GrSmIotaWDasia</string>
    <string>GrSmIotaWDasiaOxia</string>
    <string>GrSmIotaWDasiaPeris</string>
    <string>GrSmIotaWDasiaPeris.Por</string>
    <string>GrSmIotaWDasiaVaria</string>
    <string>GrSmIotaWPsili</string>
    <string>GrSmIotaWPsiliOxia</string>
    <string>GrSmIotaWPsiliPeris</string>
    <string>GrSmIotaWPsiliPeris.Por</string>
    <string>GrSmIotaWPsiliVaria</string>
  </array>
  <key>public.kern1.GrSmOmega</key>
  <array>
    <string>GrSmOmega</string>
    <string>GrSmOmegaWOxia</string>
    <string>GrSmOmegaWOxiaYpo</string>
    <string>GrSmOmegaWPeris</string>
    <string>GrSmOmegaWPeris.Por</string>
    <string>GrSmOmegaWPerisYpo</string>
    <string>GrSmOmegaWPerisYpo.Por</string>
    <string>GrSmOmegaWTonos</string>
    <string>GrSmOmegaWVaria</string>
    <string>GrSmOmegaWVariaYpo</string>
    <string>GrSmOmegaWYpo</string>
  </array>
  <key>public.kern1.GrSmOmegaWPsili</key>
  <array>
    <string>GrSmOmegaWDasia</string>
    <string>GrSmOmegaWDasiaOxia</string>
    <string>GrSmOmegaWDasiaOxiaYpo</string>
    <string>GrSmOmegaWDasiaPeris</string>
    <string>GrSmOmegaWDasiaPeris.Por</string>
    <string>GrSmOmegaWDasiaPerisYpo</string>
    <string>GrSmOmegaWDasiaPerisYpo.Por</string>
    <string>GrSmOmegaWDasiaVaria</string>
    <string>GrSmOmegaWDasiaVariaYpo</string>
    <string>GrSmOmegaWDasiaYpo</string>
    <string>GrSmOmegaWPsili</string>
    <string>GrSmOmegaWPsiliOxia</string>
    <string>GrSmOmegaWPsiliOxiaYpo</string>
    <string>GrSmOmegaWPsiliPeris</string>
    <string>GrSmOmegaWPsiliPeris.Por</string>
    <string>GrSmOmegaWPsiliPerisYpo</string>
    <string>GrSmOmegaWPsiliPerisYpo.Por</string>
    <string>GrSmOmegaWPsiliVaria</string>
    <string>GrSmOmegaWPsiliVariaYpo</string>
    <string>GrSmOmegaWPsiliYpo</string>
  </array>
  <key>public.kern1.GrSmOmicron</key>
  <array>
    <string>GrSmOmicron</string>
    <string>GrSmOmicronWOxia</string>
    <string>GrSmOmicronWTonos</string>
    <string>GrSmOmicronWVaria</string>
  </array>
  <key>public.kern1.GrSmOmicronWPsili</key>
  <array>
    <string>GrSmOmicronWDasia</string>
    <string>GrSmOmicronWDasiaOxia</string>
    <string>GrSmOmicronWDasiaVaria</string>
    <string>GrSmOmicronWPsili</string>
    <string>GrSmOmicronWPsiliOxia</string>
    <string>GrSmOmicronWPsiliVaria</string>
  </array>
  <key>public.kern1.GrSmUpsilon</key>
  <array>
    <string>GrSmUpsilon</string>
    <string>GrSmUpsilonWMacron</string>
    <string>GrSmUpsilonWOxia</string>
    <string>GrSmUpsilonWPeris</string>
    <string>GrSmUpsilonWPeris.Por</string>
    <string>GrSmUpsilonWTonos</string>
    <string>GrSmUpsilonWVaria</string>
    <string>GrSmUpsilonWVrachy</string>
  </array>
  <key>public.kern1.GrSmUpsilonWDial</key>
  <array>
    <string>GrSmUpsilonWDial</string>
    <string>GrSmUpsilonWDialOxia</string>
    <string>GrSmUpsilonWDialPeris</string>
    <string>GrSmUpsilonWDialPeris.Por</string>
    <string>GrSmUpsilonWDialTonos</string>
    <string>GrSmUpsilonWDialVaria</string>
  </array>
  <key>public.kern1.GrSmUpsilonWPsili</key>
  <array>
    <string>GrSmUpsilonWDasia</string>
    <string>GrSmUpsilonWDasiaOxia</string>
    <string>GrSmUpsilonWDasiaPeris</string>
    <string>GrSmUpsilonWDasiaPeris.Por</string>
    <string>GrSmUpsilonWDasiaVaria</string>
    <string>GrSmUpsilonWPsili</string>
    <string>GrSmUpsilonWPsiliOxia</string>
    <string>GrSmUpsilonWPsiliPeris</string>
    <string>GrSmUpsilonWPsiliPeris.Por</string>
    <string>GrSmUpsilonWPsiliVaria</string>
  </array>
  <key>public.kern1.LBracket</key>
  <array>
    <string>LftCurlyBrac</string>
    <string>LftParen</string>
    <string>LftSqrBrac</string>
  </array>
  <key>public.kern1.LCapBaseL</key>
  <array>
    <string>LtnCapL</string>
  </array>
  <key>public.kern1.LCapBaseR</key>
  <array>
    <string>LtnCapR</string>
  </array>
  <key>public.kern1.LCapBaseU</key>
  <array>
    <string>LtnCapAUDigraph</string>
    <string>LtnCapU</string>
  </array>
  <key>public.kern1.LCapCurve</key>
  <array>
    <string>LtnCapC</string>
  </array>
  <key>public.kern1.LCapDiagA</key>
  <array>
    <string>LtnCapA</string>
    <string>LtnCapAADigraph</string>
    <string>LtnCapAOgonek.RetroHook</string>
  </array>
  <key>public.kern1.LCapDiagV</key>
  <array>
    <string>LtnCapV</string>
    <string>LtnCapY</string>
  </array>
  <key>public.kern1.LCapDiagW</key>
  <array>
    <string>LtnCapAVDigraph</string>
    <string>LtnCapAYDigraph</string>
    <string>LtnCapTurnedA</string>
    <string>LtnCapW</string>
  </array>
  <key>public.kern1.LCapDiagX</key>
  <array>
    <string>LtnCapK</string>
    <string>LtnCapX</string>
  </array>
  <key>public.kern1.LCapRound</key>
  <array>
    <string>LtnCapAODigraph</string>
    <string>LtnCapD</string>
    <string>LtnCapLigOe</string>
    <string>LtnCapO</string>
    <string>LtnCapQ</string>
    <string>LtnCapSmTurnedAlpha</string>
  </array>
  <key>public.kern1.LCapTopP</key>
  <array>
    <string>LtnCapF</string>
    <string>LtnCapP</string>
  </array>
  <key>public.kern1.LCapTopT</key>
  <array>
    <string>LtnCapT</string>
  </array>
  <key>public.kern1.LCapVCaronL</key>
  <array>
    <string>LtnCapLCaron</string>
  </array>
  <key>public.kern1.LModApos</key>
  <array>
    <string>ModApos</string>
  </array>
  <key>public.kern1.LPunctBase</key>
  <array>
    <string>Comma</string>
    <string>DblLow9QuotMrk</string>
    <string>FullStop</string>
    <string>HorizEllipsis</string>
    <string>SglLow9QuotMrk</string>
  </array>
  <key>public.kern1.LQuote</key>
  <array>
    <string>Apos</string>
    <string>LftDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
    <string>QuotMrk</string>
    <string>RtDblQuotMrk</string>
    <string>RtSglQuotMrk</string>
  </array>
  <key>public.kern1.LSmCurve</key>
  <array>
    <string>LtnSmA</string>
    <string>LtnSmAADigraph</string>
    <string>LtnSmAOgonek.RetroHook</string>
    <string>LtnSmAUDigraph</string>
    <string>LtnSmAlpha</string>
    <string>LtnSmBarredAlpha</string>
    <string>LtnSmH</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmTrndAe</string>
    <string>LtnSmTurnedA</string>
    <string>LtnSmU</string>
  </array>
  <key>public.kern1.LSmDesc</key>
  <array>
    <string>LtnSmAOgonek.SngStory.RetroHook</string>
    <string>LtnSmARetrHook</string>
    <string>LtnSmAlphaRetrHook</string>
    <string>LtnSmBPalHook</string>
    <string>LtnSmCPalHook</string>
    <string>LtnSmCRetrHook</string>
    <string>LtnSmG</string>
    <string>LtnSmQ</string>
    <string>LtnStretchedC</string>
    <string>LtnStretchedCCurl</string>
  </array>
  <key>public.kern1.LSmDiagV</key>
  <array>
    <string>LtnSmAVDigraph</string>
    <string>LtnSmAYDigraph</string>
    <string>LtnSmR</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmY</string>
  </array>
  <key>public.kern1.LSmDiagX</key>
  <array>
    <string>LtnSmK</string>
    <string>LtnSmX</string>
  </array>
  <key>public.kern1.LSmRound</key>
  <array>
    <string>LtnSmAODigraph</string>
    <string>LtnSmAe</string>
    <string>LtnSmB</string>
    <string>LtnSmBBarredStem</string>
    <string>LtnSmBDotAbv</string>
    <string>LtnSmBHook</string>
    <string>LtnSmBLftHook</string>
    <string>LtnSmBLftMidHook</string>
    <string>LtnSmBMiddleTilde</string>
    <string>LtnSmBTopbar</string>
    <string>LtnSmE</string>
    <string>LtnSmLigOe</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmTnSix</string>
    <string>LtnSmTurnedAlpha</string>
  </array>
  <key>public.kern1.LSmSerif</key>
  <array>
    <string>LtnSmC</string>
    <string>LtnSmCBar</string>
    <string>LtnSmCCurl</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmZ</string>
    <string>SmRomNumOneHundred</string>
  </array>
  <key>public.kern1.LSmTopF</key>
  <array>
    <string>LtnSmF</string>
  </array>
  <key>public.kern1.LSmVCaronD</key>
  <array>
    <string>LtnSmDCaron</string>
    <string>LtnSmLCaron</string>
  </array>
  <key>public.kern1.LSmVCaronT</key>
  <array>
    <string>LtnSmTCaron</string>
  </array>
  <key>public.kern2.GrCapAlpha</key>
  <array>
    <string>GrCapAlpha</string>
    <string>GrCapAlphaWMacron</string>
    <string>GrCapAlphaWVrachy</string>
  </array>
  <key>public.kern2.GrCapUpsilon</key>
  <array>
    <string>GrCapUpsilon</string>
    <string>GrCapUpsilonWDial</string>
    <string>GrCapUpsilonWMacron</string>
    <string>GrCapUpsilonWVrachy</string>
  </array>
  <key>public.kern2.GrSmAlpha</key>
  <array>
    <string>GrSmAlpha</string>
    <string>GrSmAlphaWMacron</string>
    <string>GrSmAlphaWOxia</string>
    <string>GrSmAlphaWOxiaYpo</string>
    <string>GrSmAlphaWPeris</string>
    <string>GrSmAlphaWPeris.Por</string>
    <string>GrSmAlphaWPerisYpo</string>
    <string>GrSmAlphaWPerisYpo.Por</string>
    <string>GrSmAlphaWTonos</string>
    <string>GrSmAlphaWVaria</string>
    <string>GrSmAlphaWVariaYpo</string>
    <string>GrSmAlphaWVrachy</string>
    <string>GrSmAlphaWYpo</string>
  </array>
  <key>public.kern2.GrSmAlphaWPsili</key>
  <array>
    <string>GrSmAlphaWDasia</string>
    <string>GrSmAlphaWDasiaOxia</string>
    <string>GrSmAlphaWDasiaOxiaYpo</string>
    <string>GrSmAlphaWDasiaPeris</string>
    <string>GrSmAlphaWDasiaPeris.Por</string>
    <string>GrSmAlphaWDasiaPerisYpo</string>
    <string>GrSmAlphaWDasiaPerisYpo.Por</string>
    <string>GrSmAlphaWDasiaVaria</string>
    <string>GrSmAlphaWDasiaVariaYpo</string>
    <string>GrSmAlphaWDasiaYpo</string>
    <string>GrSmAlphaWPsili</string>
    <string>GrSmAlphaWPsiliOxia</string>
    <string>GrSmAlphaWPsiliOxiaYpo</string>
    <string>GrSmAlphaWPsiliPeris</string>
    <string>GrSmAlphaWPsiliPeris.Por</string>
    <string>GrSmAlphaWPsiliPerisYpo</string>
    <string>GrSmAlphaWPsiliPerisYpo.Por</string>
    <string>GrSmAlphaWPsiliVaria</string>
    <string>GrSmAlphaWPsiliVariaYpo</string>
    <string>GrSmAlphaWPsiliYpo</string>
  </array>
  <key>public.kern2.GrSmEpsilon</key>
  <array>
    <string>GrSmEpsilon</string>
    <string>GrSmEpsilonWOxia</string>
    <string>GrSmEpsilonWTonos</string>
    <string>GrSmEpsilonWVaria</string>
  </array>
  <key>public.kern2.GrSmEpsilonWPsili</key>
  <array>
    <string>GrSmEpsilonWDasia</string>
    <string>GrSmEpsilonWDasiaOxia</string>
    <string>GrSmEpsilonWDasiaVaria</string>
    <string>GrSmEpsilonWPsili</string>
    <string>GrSmEpsilonWPsiliOxia</string>
    <string>GrSmEpsilonWPsiliVaria</string>
  </array>
  <key>public.kern2.GrSmEta</key>
  <array>
    <string>GrSmEta</string>
    <string>GrSmEtaWOxia</string>
    <string>GrSmEtaWOxiaYpo</string>
    <string>GrSmEtaWPeris</string>
    <string>GrSmEtaWPeris.Por</string>
    <string>GrSmEtaWPerisYpo</string>
    <string>GrSmEtaWPerisYpo.Por</string>
    <string>GrSmEtaWTonos</string>
    <string>GrSmEtaWVaria</string>
    <string>GrSmEtaWVariaYpo</string>
    <string>GrSmEtaWYpo</string>
  </array>
  <key>public.kern2.GrSmIota</key>
  <array>
    <string>GrPros</string>
    <string>GrSmIota</string>
    <string>GrSmIotaWMacron</string>
    <string>GrSmIotaWOxia</string>
    <string>GrSmIotaWPeris</string>
    <string>GrSmIotaWPeris.Por</string>
    <string>GrSmIotaWTonos</string>
    <string>GrSmIotaWVaria</string>
    <string>GrSmIotaWVrachy</string>
  </array>
  <key>public.kern2.GrSmIotaWDial</key>
  <array>
    <string>GrSmIotaWDial</string>
    <string>GrSmIotaWDialOxia</string>
    <string>GrSmIotaWDialPeris</string>
    <string>GrSmIotaWDialPeris.Por</string>
    <string>GrSmIotaWDialTonos</string>
    <string>GrSmIotaWDialVaria</string>
  </array>
  <key>public.kern2.GrSmIotaWPsili</key>
  <array>
    <string>GrSmIotaWDasia</string>
    <string>GrSmIotaWDasiaOxia</string>
    <string>GrSmIotaWDasiaPeris</string>
    <string>GrSmIotaWDasiaPeris.Por</string>
    <string>GrSmIotaWDasiaVaria</string>
    <string>GrSmIotaWPsili</string>
    <string>GrSmIotaWPsiliOxia</string>
    <string>GrSmIotaWPsiliPeris</string>
    <string>GrSmIotaWPsiliPeris.Por</string>
    <string>GrSmIotaWPsiliVaria</string>
  </array>
  <key>public.kern2.GrSmOmega</key>
  <array>
    <string>GrSmOmega</string>
    <string>GrSmOmegaWOxia</string>
    <string>GrSmOmegaWOxiaYpo</string>
    <string>GrSmOmegaWPeris</string>
    <string>GrSmOmegaWPeris.Por</string>
    <string>GrSmOmegaWPerisYpo</string>
    <string>GrSmOmegaWPerisYpo.Por</string>
    <string>GrSmOmegaWTonos</string>
    <string>GrSmOmegaWVaria</string>
    <string>GrSmOmegaWVariaYpo</string>
    <string>GrSmOmegaWYpo</string>
  </array>
  <key>public.kern2.GrSmOmegaWPsili</key>
  <array>
    <string>GrSmOmegaWDasia</string>
    <string>GrSmOmegaWDasiaOxia</string>
    <string>GrSmOmegaWDasiaOxiaYpo</string>
    <string>GrSmOmegaWDasiaPeris</string>
    <string>GrSmOmegaWDasiaPeris.Por</string>
    <string>GrSmOmegaWDasiaPerisYpo</string>
    <string>GrSmOmegaWDasiaPerisYpo.Por</string>
    <string>GrSmOmegaWDasiaVaria</string>
    <string>GrSmOmegaWDasiaVariaYpo</string>
    <string>GrSmOmegaWDasiaYpo</string>
    <string>GrSmOmegaWPsili</string>
    <string>GrSmOmegaWPsiliOxia</string>
    <string>GrSmOmegaWPsiliOxiaYpo</string>
    <string>GrSmOmegaWPsiliPeris</string>
    <string>GrSmOmegaWPsiliPeris.Por</string>
    <string>GrSmOmegaWPsiliPerisYpo</string>
    <string>GrSmOmegaWPsiliPerisYpo.Por</string>
    <string>GrSmOmegaWPsiliVaria</string>
    <string>GrSmOmegaWPsiliVariaYpo</string>
    <string>GrSmOmegaWPsiliYpo</string>
  </array>
  <key>public.kern2.GrSmOmicron</key>
  <array>
    <string>GrSmOmicron</string>
    <string>GrSmOmicronWOxia</string>
    <string>GrSmOmicronWTonos</string>
    <string>GrSmOmicronWVaria</string>
  </array>
  <key>public.kern2.GrSmUpsilon</key>
  <array>
    <string>GrSmUpsilon</string>
    <string>GrSmUpsilonWMacron</string>
    <string>GrSmUpsilonWOxia</string>
    <string>GrSmUpsilonWPeris</string>
    <string>GrSmUpsilonWPeris.Por</string>
    <string>GrSmUpsilonWTonos</string>
    <string>GrSmUpsilonWVaria</string>
    <string>GrSmUpsilonWVrachy</string>
  </array>
  <key>public.kern2.GrSmUpsilonWDial</key>
  <array>
    <string>GrSmUpsilonWDial</string>
    <string>GrSmUpsilonWDialOxia</string>
    <string>GrSmUpsilonWDialPeris</string>
    <string>GrSmUpsilonWDialPeris.Por</string>
    <string>GrSmUpsilonWDialTonos</string>
    <string>GrSmUpsilonWDialVaria</string>
  </array>
  <key>public.kern2.GrSmUpsilonWPsili</key>
  <array>
    <string>GrSmUpsilonWDasia</string>
    <string>GrSmUpsilonWDasiaOxia</string>
    <string>GrSmUpsilonWDasiaPeris</string>
    <string>GrSmUpsilonWDasiaPeris.Por</string>
    <string>GrSmUpsilonWDasiaVaria</string>
    <string>GrSmUpsilonWPsili</string>
    <string>GrSmUpsilonWPsiliOxia</string>
    <string>GrSmUpsilonWPsiliPeris</string>
    <string>GrSmUpsilonWPsiliPeris.Por</string>
    <string>GrSmUpsilonWPsiliVaria</string>
  </array>
  <key>public.kern2.RBracket</key>
  <array>
    <string>RtCurlyBrac</string>
    <string>RtParen</string>
    <string>RtSqrBrac</string>
  </array>
  <key>public.kern2.RCapBaseU</key>
  <array>
    <string>LtnCapU</string>
  </array>
  <key>public.kern2.RCapDiagA</key>
  <array>
    <string>LtnCapA</string>
    <string>LtnCapAADigraph</string>
    <string>LtnCapAODigraph</string>
    <string>LtnCapAOgonek.RetroHook</string>
    <string>LtnCapAStrk</string>
    <string>LtnCapAUDigraph</string>
    <string>LtnCapAVDigraph</string>
    <string>LtnCapAVDigraphStrk</string>
    <string>LtnCapAYDigraph</string>
    <string>LtnCapAe</string>
  </array>
  <key>public.kern2.RCapDiagV</key>
  <array>
    <string>LtnCapV</string>
    <string>LtnCapY</string>
  </array>
  <key>public.kern2.RCapDiagW</key>
  <array>
    <string>LtnCapW</string>
  </array>
  <key>public.kern2.RCapDiagX</key>
  <array>
    <string>LtnCapX</string>
  </array>
  <key>public.kern2.RCapRound</key>
  <array>
    <string>LtnCapC</string>
    <string>LtnCapG</string>
    <string>LtnCapO</string>
    <string>LtnCapQ</string>
    <string>LtnCapSmAlpha</string>
  </array>
  <key>public.kern2.RCapTopS</key>
  <array>
    <string>LtnCapS</string>
  </array>
  <key>public.kern2.RCapTopT</key>
  <array>
    <string>LtnCapBHook</string>
    <string>LtnCapDHook</string>
    <string>LtnCapDStrkHook</string>
    <string>LtnCapHHook</string>
    <string>LtnCapPHook</string>
    <string>LtnCapT</string>
    <string>LtnCapYHook</string>
  </array>
  <key>public.kern2.RModApos</key>
  <array>
    <string>ModApos</string>
  </array>
  <key>public.kern2.RPunctBase</key>
  <array>
    <string>Comma</string>
    <string>DblLow9QuotMrk</string>
    <string>FullStop</string>
    <string>HorizEllipsis</string>
    <string>SglLow9QuotMrk</string>
  </array>
  <key>public.kern2.RPunctMid</key>
  <array>
    <string>Colon</string>
    <string>Semicolon</string>
  </array>
  <key>public.kern2.RQuote</key>
  <array>
    <string>Apos</string>
    <string>LftDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
    <string>QuotMrk</string>
    <string>RtDblQuotMrk</string>
    <string>RtSglQuotMrk</string>
  </array>
  <key>public.kern2.RRelease</key>
  <array>
    <string>CombLftAngAbv</string>
  </array>
  <key>public.kern2.RSmAsc</key>
  <array>
    <string>LtnSmB</string>
    <string>LtnSmBBarredStem</string>
    <string>LtnSmBBarredStem.BarBowl</string>
    <string>LtnSmBDotAbv</string>
    <string>LtnSmBHook</string>
    <string>LtnSmBPalHook</string>
    <string>LtnSmH</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmLCaron</string>
  </array>
  <key>public.kern2.RSmBar</key>
  <array>
    <string>LtnSmF</string>
    <string>LtnSmT</string>
    <string>LtnSmTCaron</string>
  </array>
  <key>public.kern2.RSmCurve</key>
  <array>
    <string>LtnSmA</string>
    <string>LtnSmAADigraph</string>
    <string>LtnSmAODigraph</string>
    <string>LtnSmAOgonek.RetroHook</string>
    <string>LtnSmARetrHook</string>
    <string>LtnSmAStrk</string>
    <string>LtnSmAUDigraph</string>
    <string>LtnSmAVDigraph</string>
    <string>LtnSmAVDigraphStrk</string>
    <string>LtnSmAYDigraph</string>
    <string>LtnSmAe</string>
    <string>LtnSmG</string>
    <string>LtnSmOpnO</string>
    <string>LtnSmOpnO.TopSerif</string>
    <string>LtnSmRevC</string>
    <string>LtnSmRevCMiddleDot</string>
    <string>LtnSmS</string>
  </array>
  <key>public.kern2.RSmDescJ</key>
  <array>
    <string>LtnSmJ</string>
  </array>
  <key>public.kern2.RSmDiagV</key>
  <array>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmY</string>
  </array>
  <key>public.kern2.RSmDiagX</key>
  <array>
    <string>LtnSmX</string>
  </array>
  <key>public.kern2.RSmRound</key>
  <array>
    <string>LtnSmAOgonek.SngStory.RetroHook</string>
    <string>LtnSmAStrk.SngStory</string>
    <string>LtnSmAlpha</string>
    <string>LtnSmAlphaRetrHook</string>
    <string>LtnSmC</string>
    <string>LtnSmCCurl</string>
    <string>LtnSmCHook</string>
    <string>LtnSmCPalHook</string>
    <string>LtnSmCRetrHook</string>
    <string>LtnSmCStrk</string>
    <string>LtnSmD</string>
    <string>LtnSmDCaron</string>
    <string>LtnSmE</string>
    <string>LtnSmInvAlpha</string>
    <string>LtnSmLigOe</string>
    <string>LtnSmO</string>
    <string>LtnSmORingInside</string>
    <string>LtnSmQ</string>
    <string>LtnSmTrndAe</string>
    <string>SmRomNumOneHundred</string>
  </array>
  <key>public.kern2.RSmSerif</key>
  <array>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmP</string>
    <string>LtnSmR</string>
    <string>LtnSmTurnedA</string>
    <string>LtnSmTurnedAlpha</string>
    <string>LtnSmU</string>
    <string>LtnSmZ</string>
  </array>
</dict>
</plist>
