# .gitattributes template for an open font design workflow 
# Designed to tell git how to best deal with certain file formats 
# To tweak to your particular needs, see http://git-scm.com/book/en/Customizing-Git-Git-Attributes

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files to always be normalized and converted
# to native line endings on checkout.
*.cfg text eol=lf
*.css text eol=lf
*.fea text eol=lf
*.feax text eol=lf
*.ftml text eol=lf
*.gdl text eol=lf
*.gdh text eol=lf
*.html text eol=lf
*.htxt text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sil text eol=lf
*.srctext text eol=lf
*.tex text eol=lf
*.txt text eol=lf
*.TXT text eol=lf
*.vtp text eol=lf
*.xdvtxt text eol=lf
*.xsl text eol=lf
*.xml text eol=lf

# Declare text files that will stay in LF (i.e. not expected to be used on Windows)
makedocs text eol=lf
preflight text eol=lf
preflightg text eol=lf
preflightff text eol=lf
preglyphs text eol=lf
wscript text eol=lf

# Declare text files that will stay in LF (i.e. not expected to be used on Windows)
*.sh eol=lf
*.sfd text eol=lf

# Keep these as LF because vfb2ufo generates LF, even on Windows:
*.glif text eol=lf
*.plist text eol=lf

# Declare all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.vfb binary
*.ttf binary
*.pdf binary
*.PDF binary

# other document formats
*.pdf diff=astextplain
*.PDF diff=astextplain
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
