<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>CySmAleutKa</key>
  <string>C_yS_mA_leutK_a.glif</string>
  <key>CySmDje</key>
  <string>C_yS_mD_je.glif</string>
  <key>CySmGhe</key>
  <string>C_yS_mG_he.glif</string>
  <key>CySmKaStrk</key>
  <string>C_yS_mK_aS_trk.glif</string>
  <key>CySmKaVertStrk</key>
  <string>C_yS_mK_aV_ertS_trk.glif</string>
  <key>CySmStraightU</key>
  <string>C_yS_mS_traightU_.glif</string>
  <key>CySmTshe</key>
  <string>C_yS_mT_she.glif</string>
  <key>IndianRupeeSgn</key>
  <string>I_ndianR_upeeS_gn.glif</string>
  <key>LtnAlveolarClick.sc</key>
  <string>L_tnA_lveolarC_lick.sc.glif</string>
  <key>LtnCapGHook</key>
  <string>L_tnC_apG_H_ook.glif</string>
  <key>LtnDentalClick.sc</key>
  <string>L_tnD_entalC_lick.sc.glif</string>
  <key>LtnLateralClick.sc</key>
  <string>L_tnL_ateralC_lick.sc.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmEshHook</key>
  <string>L_tnS_mE_shH_ook.glif</string>
  <key>LtnSmPHighCurl.sc</key>
  <string>L_tnS_mP_H_ighC_url.sc.glif</string>
  <key>LtnSmRevCMiddleDot.sc</key>
  <string>L_tnS_mR_evC_M_iddleD_ot.sc.glif</string>
  <key>LtnSmVisigothicZ.sc</key>
  <string>L_tnS_mV_isigothicZ_.sc.glif</string>
  <key>RupeeSgn</key>
  <string>R_upeeS_gn.glif</string>
</dict>
</plist>
