<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.FullStop</key>
  <array>
    <string>FullStop</string>
    <string>Comma</string>
  </array>
  <key>public.kern1.GrCapAlpha</key>
  <array>
    <string>GrCapAlpha</string>
    <string>GrCapAlphaWVrachy</string>
    <string>GrCapAlphaWMacron</string>
  </array>
  <key>public.kern1.GrCapAlphaWTonos</key>
  <array>
    <string>GrCapAlphaWTonos</string>
    <string>GrCapAlphaWPsili</string>
    <string>GrCapAlphaWDasia</string>
    <string>GrCapAlphaWPsiliVaria</string>
    <string>GrCapAlphaWDasiaVaria</string>
    <string>GrCapAlphaWPsiliOxia</string>
    <string>GrCapAlphaWDasiaOxia</string>
    <string>GrCapAlphaWPsiliPeris</string>
    <string>GrCapAlphaWDasiaPeris</string>
    <string>GrCapAlphaWVaria</string>
    <string>GrCapAlphaWOxia</string>
    <string>GrCapAlphaWDasiaPeris.Por</string>
    <string>GrCapAlphaWPsiliPeris.Por</string>
  </array>
  <key>public.kern1.GrCapOmegaWTonos</key>
  <array>
    <string>GrCapOmegaWTonos</string>
    <string>GrCapOmegaWPsili</string>
    <string>GrCapOmegaWDasia</string>
    <string>GrCapOmegaWPsiliVaria</string>
    <string>GrCapOmegaWDasiaVaria</string>
    <string>GrCapOmegaWPsiliOxia</string>
    <string>GrCapOmegaWDasiaOxia</string>
    <string>GrCapOmegaWPsiliPeris</string>
    <string>GrCapOmegaWDasiaPeris</string>
    <string>GrCapOmegaWVaria</string>
    <string>GrCapOmegaWOxia</string>
    <string>GrCapOmegaWDasiaPeris.Por</string>
    <string>GrCapOmegaWPsiliPeris.Por</string>
  </array>
  <key>public.kern1.GrCapOmicronWTonos</key>
  <array>
    <string>GrCapOmicronWTonos</string>
    <string>GrCapOmicronWPsili</string>
    <string>GrCapOmicronWDasia</string>
    <string>GrCapOmicronWPsiliVaria</string>
    <string>GrCapOmicronWDasiaVaria</string>
    <string>GrCapOmicronWPsiliOxia</string>
    <string>GrCapOmicronWDasiaOxia</string>
    <string>GrCapOmicronWVaria</string>
    <string>GrCapOmicronWOxia</string>
  </array>
  <key>public.kern1.GrCapUpsilon</key>
  <array>
    <string>GrCapUpsilon</string>
    <string>GrCapUpsilonWDial</string>
    <string>GrCapUpsilonWVrachy</string>
    <string>GrCapUpsilonWMacron</string>
  </array>
  <key>public.kern1.GrCapUpsilonWTonos</key>
  <array>
    <string>GrCapUpsilonWTonos</string>
    <string>GrCapUpsilonWDasia</string>
    <string>GrCapUpsilonWDasiaVaria</string>
    <string>GrCapUpsilonWDasiaOxia</string>
    <string>GrCapUpsilonWDasiaPeris</string>
    <string>GrCapUpsilonWVaria</string>
    <string>GrCapUpsilonWOxia</string>
    <string>GrCapUpsilonWDasiaPeris.Por</string>
  </array>
  <key>public.kern1.GrSmAlpha</key>
  <array>
    <string>GrSmAlpha</string>
    <string>GrSmAlphaWTonos</string>
    <string>GrSmAlphaWVaria</string>
    <string>GrSmAlphaWOxia</string>
    <string>GrSmAlphaWPeris</string>
    <string>GrSmAlphaWVrachy</string>
    <string>GrSmAlphaWMacron</string>
    <string>GrSmAlphaWYpo</string>
    <string>GrSmAlphaWVariaYpo</string>
    <string>GrSmAlphaWOxiaYpo</string>
    <string>GrSmAlphaWPerisYpo</string>
    <string>GrSmAlphaWPeris.Por</string>
    <string>GrSmAlphaWPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmAlphaWPsili</key>
  <array>
    <string>GrSmAlphaWPsili</string>
    <string>GrSmAlphaWDasia</string>
    <string>GrSmAlphaWPsiliVaria</string>
    <string>GrSmAlphaWDasiaVaria</string>
    <string>GrSmAlphaWPsiliOxia</string>
    <string>GrSmAlphaWDasiaOxia</string>
    <string>GrSmAlphaWPsiliPeris</string>
    <string>GrSmAlphaWDasiaPeris</string>
    <string>GrSmAlphaWPsiliYpo</string>
    <string>GrSmAlphaWDasiaYpo</string>
    <string>GrSmAlphaWPsiliVariaYpo</string>
    <string>GrSmAlphaWDasiaVariaYpo</string>
    <string>GrSmAlphaWPsiliOxiaYpo</string>
    <string>GrSmAlphaWDasiaOxiaYpo</string>
    <string>GrSmAlphaWPsiliPerisYpo</string>
    <string>GrSmAlphaWDasiaPerisYpo</string>
    <string>GrSmAlphaWDasiaPeris.Por</string>
    <string>GrSmAlphaWDasiaPerisYpo.Por</string>
    <string>GrSmAlphaWPsiliPeris.Por</string>
    <string>GrSmAlphaWPsiliPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmEpsilon</key>
  <array>
    <string>GrSmEpsilon</string>
    <string>GrSmEpsilonWTonos</string>
    <string>GrSmEpsilonWVaria</string>
    <string>GrSmEpsilonWOxia</string>
  </array>
  <key>public.kern1.GrSmEpsilonWPsili</key>
  <array>
    <string>GrSmEpsilonWPsili</string>
    <string>GrSmEpsilonWDasia</string>
    <string>GrSmEpsilonWPsiliVaria</string>
    <string>GrSmEpsilonWDasiaVaria</string>
    <string>GrSmEpsilonWPsiliOxia</string>
    <string>GrSmEpsilonWDasiaOxia</string>
  </array>
  <key>public.kern1.GrSmEta</key>
  <array>
    <string>GrSmEta</string>
    <string>GrSmEtaWTonos</string>
    <string>GrSmEtaWVaria</string>
    <string>GrSmEtaWOxia</string>
    <string>GrSmEtaWPeris</string>
    <string>GrSmEtaWYpo</string>
    <string>GrSmEtaWVariaYpo</string>
    <string>GrSmEtaWOxiaYpo</string>
    <string>GrSmEtaWPerisYpo</string>
    <string>GrSmEtaWPeris.Por</string>
    <string>GrSmEtaWPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmEtaWPsili</key>
  <array>
    <string>GrSmEtaWPsili</string>
    <string>GrSmEtaWDasia</string>
    <string>GrSmEtaWPsiliVaria</string>
    <string>GrSmEtaWDasiaVaria</string>
    <string>GrSmEtaWPsiliOxia</string>
    <string>GrSmEtaWDasiaOxia</string>
    <string>GrSmEtaWPsiliPeris</string>
    <string>GrSmEtaWDasiaPeris</string>
    <string>GrSmEtaWPsiliYpo</string>
    <string>GrSmEtaWDasiaYpo</string>
    <string>GrSmEtaWPsiliVariaYpo</string>
    <string>GrSmEtaWDasiaVariaYpo</string>
    <string>GrSmEtaWPsiliOxiaYpo</string>
    <string>GrSmEtaWDasiaOxiaYpo</string>
    <string>GrSmEtaWPsiliPerisYpo</string>
    <string>GrSmEtaWDasiaPerisYpo</string>
    <string>GrSmEtaWDasiaPeris.Por</string>
    <string>GrSmEtaWDasiaPerisYpo.Por</string>
    <string>GrSmEtaWPsiliPeris.Por</string>
    <string>GrSmEtaWPsiliPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmIota</key>
  <array>
    <string>GrSmIota</string>
    <string>GrSmIotaWTonos</string>
    <string>GrSmIotaWVaria</string>
    <string>GrSmIotaWOxia</string>
    <string>GrSmIotaWPeris</string>
    <string>GrSmIotaWVrachy</string>
    <string>GrSmIotaWMacron</string>
    <string>GrPros</string>
    <string>GrSmIotaWPeris.Por</string>
  </array>
  <key>public.kern1.GrSmIotaWDial</key>
  <array>
    <string>GrSmIotaWDial</string>
    <string>GrSmIotaWDialTonos</string>
    <string>GrSmIotaWDialVaria</string>
    <string>GrSmIotaWDialOxia</string>
    <string>GrSmIotaWDialPeris</string>
    <string>GrSmIotaWDialPeris.Por</string>
  </array>
  <key>public.kern1.GrSmIotaWPsili</key>
  <array>
    <string>GrSmIotaWPsili</string>
    <string>GrSmIotaWDasia</string>
    <string>GrSmIotaWPsiliVaria</string>
    <string>GrSmIotaWDasiaVaria</string>
    <string>GrSmIotaWPsiliOxia</string>
    <string>GrSmIotaWDasiaOxia</string>
    <string>GrSmIotaWPsiliPeris</string>
    <string>GrSmIotaWDasiaPeris</string>
    <string>GrSmIotaWDasiaPeris.Por</string>
    <string>GrSmIotaWPsiliPeris.Por</string>
  </array>
  <key>public.kern1.GrSmOmega</key>
  <array>
    <string>GrSmOmega</string>
    <string>GrSmOmegaWTonos</string>
    <string>GrSmOmegaWVaria</string>
    <string>GrSmOmegaWOxia</string>
    <string>GrSmOmegaWPeris</string>
    <string>GrSmOmegaWYpo</string>
    <string>GrSmOmegaWVariaYpo</string>
    <string>GrSmOmegaWOxiaYpo</string>
    <string>GrSmOmegaWPerisYpo</string>
    <string>GrSmOmegaWPeris.Por</string>
    <string>GrSmOmegaWPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmOmegaWPsili</key>
  <array>
    <string>GrSmOmegaWPsili</string>
    <string>GrSmOmegaWDasia</string>
    <string>GrSmOmegaWPsiliVaria</string>
    <string>GrSmOmegaWDasiaVaria</string>
    <string>GrSmOmegaWPsiliOxia</string>
    <string>GrSmOmegaWDasiaOxia</string>
    <string>GrSmOmegaWPsiliPeris</string>
    <string>GrSmOmegaWDasiaPeris</string>
    <string>GrSmOmegaWPsiliYpo</string>
    <string>GrSmOmegaWDasiaYpo</string>
    <string>GrSmOmegaWPsiliVariaYpo</string>
    <string>GrSmOmegaWDasiaVariaYpo</string>
    <string>GrSmOmegaWPsiliOxiaYpo</string>
    <string>GrSmOmegaWDasiaOxiaYpo</string>
    <string>GrSmOmegaWPsiliPerisYpo</string>
    <string>GrSmOmegaWDasiaPerisYpo</string>
    <string>GrSmOmegaWDasiaPeris.Por</string>
    <string>GrSmOmegaWDasiaPerisYpo.Por</string>
    <string>GrSmOmegaWPsiliPeris.Por</string>
    <string>GrSmOmegaWPsiliPerisYpo.Por</string>
  </array>
  <key>public.kern1.GrSmOmicron</key>
  <array>
    <string>GrSmOmicron</string>
    <string>GrSmOmicronWTonos</string>
    <string>GrSmOmicronWVaria</string>
    <string>GrSmOmicronWOxia</string>
  </array>
  <key>public.kern1.GrSmOmicronWPsili</key>
  <array>
    <string>GrSmOmicronWPsili</string>
    <string>GrSmOmicronWDasia</string>
    <string>GrSmOmicronWPsiliVaria</string>
    <string>GrSmOmicronWDasiaVaria</string>
    <string>GrSmOmicronWPsiliOxia</string>
    <string>GrSmOmicronWDasiaOxia</string>
  </array>
  <key>public.kern1.GrSmUpsilon</key>
  <array>
    <string>GrSmUpsilon</string>
    <string>GrSmUpsilonWTonos</string>
    <string>GrSmUpsilonWVaria</string>
    <string>GrSmUpsilonWOxia</string>
    <string>GrSmUpsilonWPeris</string>
    <string>GrSmUpsilonWVrachy</string>
    <string>GrSmUpsilonWMacron</string>
    <string>GrSmUpsilonWPeris.Por</string>
  </array>
  <key>public.kern1.GrSmUpsilonWDial</key>
  <array>
    <string>GrSmUpsilonWDial</string>
    <string>GrSmUpsilonWDialTonos</string>
    <string>GrSmUpsilonWDialVaria</string>
    <string>GrSmUpsilonWDialOxia</string>
    <string>GrSmUpsilonWDialPeris</string>
    <string>GrSmUpsilonWDialPeris.Por</string>
  </array>
  <key>public.kern1.GrSmUpsilonWPsili</key>
  <array>
    <string>GrSmUpsilonWPsili</string>
    <string>GrSmUpsilonWDasia</string>
    <string>GrSmUpsilonWPsiliVaria</string>
    <string>GrSmUpsilonWDasiaVaria</string>
    <string>GrSmUpsilonWPsiliOxia</string>
    <string>GrSmUpsilonWDasiaOxia</string>
    <string>GrSmUpsilonWPsiliPeris</string>
    <string>GrSmUpsilonWDasiaPeris</string>
    <string>GrSmUpsilonWDasiaPeris.Por</string>
    <string>GrSmUpsilonWPsiliPeris.Por</string>
  </array>
  <key>public.kern1.LftDblQuotMrk</key>
  <array>
    <string>LftDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
  </array>
  <key>public.kern1.RtDblQuotMrk</key>
  <array>
    <string>RtDblQuotMrk</string>
    <string>RtSglQuotMrk</string>
  </array>
  <key>public.kern2.FullStop</key>
  <array>
    <string>FullStop</string>
    <string>Comma</string>
  </array>
  <key>public.kern2.GrCapAlpha</key>
  <array>
    <string>GrCapAlpha</string>
    <string>GrCapAlphaWVrachy</string>
    <string>GrCapAlphaWMacron</string>
  </array>
  <key>public.kern2.GrCapUpsilon</key>
  <array>
    <string>GrCapUpsilon</string>
    <string>GrCapUpsilonWDial</string>
    <string>GrCapUpsilonWVrachy</string>
    <string>GrCapUpsilonWMacron</string>
  </array>
  <key>public.kern2.GrSmAlpha</key>
  <array>
    <string>GrSmAlpha</string>
    <string>GrSmAlphaWTonos</string>
    <string>GrSmAlphaWVaria</string>
    <string>GrSmAlphaWOxia</string>
    <string>GrSmAlphaWPeris</string>
    <string>GrSmAlphaWVrachy</string>
    <string>GrSmAlphaWMacron</string>
    <string>GrSmAlphaWYpo</string>
    <string>GrSmAlphaWVariaYpo</string>
    <string>GrSmAlphaWOxiaYpo</string>
    <string>GrSmAlphaWPerisYpo</string>
    <string>GrSmAlphaWPeris.Por</string>
    <string>GrSmAlphaWPerisYpo.Por</string>
  </array>
  <key>public.kern2.GrSmAlphaWPsili</key>
  <array>
    <string>GrSmAlphaWPsili</string>
    <string>GrSmAlphaWDasia</string>
    <string>GrSmAlphaWPsiliVaria</string>
    <string>GrSmAlphaWDasiaVaria</string>
    <string>GrSmAlphaWPsiliOxia</string>
    <string>GrSmAlphaWDasiaOxia</string>
    <string>GrSmAlphaWPsiliPeris</string>
    <string>GrSmAlphaWDasiaPeris</string>
    <string>GrSmAlphaWPsiliYpo</string>
    <string>GrSmAlphaWDasiaYpo</string>
    <string>GrSmAlphaWPsiliVariaYpo</string>
    <string>GrSmAlphaWDasiaVariaYpo</string>
    <string>GrSmAlphaWPsiliOxiaYpo</string>
    <string>GrSmAlphaWDasiaOxiaYpo</string>
    <string>GrSmAlphaWPsiliPerisYpo</string>
    <string>GrSmAlphaWDasiaPerisYpo</string>
    <string>GrSmAlphaWDasiaPeris.Por</string>
    <string>GrSmAlphaWDasiaPerisYpo.Por</string>
    <string>GrSmAlphaWPsiliPeris.Por</string>
    <string>GrSmAlphaWPsiliPerisYpo.Por</string>
  </array>
  <key>public.kern2.GrSmEpsilon</key>
  <array>
    <string>GrSmEpsilon</string>
    <string>GrSmEpsilonWTonos</string>
    <string>GrSmEpsilonWVaria</string>
    <string>GrSmEpsilonWOxia</string>
  </array>
  <key>public.kern2.GrSmEpsilonWPsili</key>
  <array>
    <string>GrSmEpsilonWPsili</string>
    <string>GrSmEpsilonWDasia</string>
    <string>GrSmEpsilonWPsiliVaria</string>
    <string>GrSmEpsilonWDasiaVaria</string>
    <string>GrSmEpsilonWPsiliOxia</string>
    <string>GrSmEpsilonWDasiaOxia</string>
  </array>
  <key>public.kern2.GrSmEta</key>
  <array>
    <string>GrSmEta</string>
    <string>GrSmEtaWTonos</string>
    <string>GrSmEtaWVaria</string>
    <string>GrSmEtaWOxia</string>
    <string>GrSmEtaWPeris</string>
    <string>GrSmEtaWYpo</string>
    <string>GrSmEtaWVariaYpo</string>
    <string>GrSmEtaWOxiaYpo</string>
    <string>GrSmEtaWPerisYpo</string>
    <string>GrSmEtaWPeris.Por</string>
    <string>GrSmEtaWPerisYpo.Por</string>
  </array>
  <key>public.kern2.GrSmIota</key>
  <array>
    <string>GrSmIota</string>
    <string>GrSmIotaWTonos</string>
    <string>GrSmIotaWVaria</string>
    <string>GrSmIotaWOxia</string>
    <string>GrSmIotaWPeris</string>
    <string>GrSmIotaWVrachy</string>
    <string>GrSmIotaWMacron</string>
    <string>GrPros</string>
    <string>GrSmIotaWPeris.Por</string>
  </array>
  <key>public.kern2.GrSmIotaWDial</key>
  <array>
    <string>GrSmIotaWDial</string>
    <string>GrSmIotaWDialTonos</string>
    <string>GrSmIotaWDialVaria</string>
    <string>GrSmIotaWDialOxia</string>
    <string>GrSmIotaWDialPeris</string>
    <string>GrSmIotaWDialPeris.Por</string>
  </array>
  <key>public.kern2.GrSmIotaWPsili</key>
  <array>
    <string>GrSmIotaWPsili</string>
    <string>GrSmIotaWDasia</string>
    <string>GrSmIotaWPsiliVaria</string>
    <string>GrSmIotaWDasiaVaria</string>
    <string>GrSmIotaWPsiliOxia</string>
    <string>GrSmIotaWDasiaOxia</string>
    <string>GrSmIotaWPsiliPeris</string>
    <string>GrSmIotaWDasiaPeris</string>
    <string>GrSmIotaWDasiaPeris.Por</string>
    <string>GrSmIotaWPsiliPeris.Por</string>
  </array>
  <key>public.kern2.GrSmOmega</key>
  <array>
    <string>GrSmOmega</string>
    <string>GrSmOmegaWTonos</string>
    <string>GrSmOmegaWVaria</string>
    <string>GrSmOmegaWOxia</string>
    <string>GrSmOmegaWPeris</string>
    <string>GrSmOmegaWYpo</string>
    <string>GrSmOmegaWVariaYpo</string>
    <string>GrSmOmegaWOxiaYpo</string>
    <string>GrSmOmegaWPerisYpo</string>
    <string>GrSmOmegaWPeris.Por</string>
    <string>GrSmOmegaWPerisYpo.Por</string>
  </array>
  <key>public.kern2.GrSmOmegaWPsili</key>
  <array>
    <string>GrSmOmegaWPsili</string>
    <string>GrSmOmegaWDasia</string>
    <string>GrSmOmegaWPsiliVaria</string>
    <string>GrSmOmegaWDasiaVaria</string>
    <string>GrSmOmegaWPsiliOxia</string>
    <string>GrSmOmegaWDasiaOxia</string>
    <string>GrSmOmegaWPsiliPeris</string>
    <string>GrSmOmegaWDasiaPeris</string>
    <string>GrSmOmegaWPsiliYpo</string>
    <string>GrSmOmegaWDasiaYpo</string>
    <string>GrSmOmegaWPsiliVariaYpo</string>
    <string>GrSmOmegaWDasiaVariaYpo</string>
    <string>GrSmOmegaWPsiliOxiaYpo</string>
    <string>GrSmOmegaWDasiaOxiaYpo</string>
    <string>GrSmOmegaWPsiliPerisYpo</string>
    <string>GrSmOmegaWDasiaPerisYpo</string>
    <string>GrSmOmegaWDasiaPeris.Por</string>
    <string>GrSmOmegaWDasiaPerisYpo.Por</string>
    <string>GrSmOmegaWPsiliPeris.Por</string>
    <string>GrSmOmegaWPsiliPerisYpo.Por</string>
  </array>
  <key>public.kern2.GrSmOmicron</key>
  <array>
    <string>GrSmOmicron</string>
    <string>GrSmOmicronWTonos</string>
    <string>GrSmOmicronWVaria</string>
    <string>GrSmOmicronWOxia</string>
  </array>
  <key>public.kern2.GrSmUpsilon</key>
  <array>
    <string>GrSmUpsilon</string>
    <string>GrSmUpsilonWTonos</string>
    <string>GrSmUpsilonWVaria</string>
    <string>GrSmUpsilonWOxia</string>
    <string>GrSmUpsilonWPeris</string>
    <string>GrSmUpsilonWVrachy</string>
    <string>GrSmUpsilonWMacron</string>
    <string>GrSmUpsilonWPeris.Por</string>
  </array>
  <key>public.kern2.GrSmUpsilonWDial</key>
  <array>
    <string>GrSmUpsilonWDial</string>
    <string>GrSmUpsilonWDialTonos</string>
    <string>GrSmUpsilonWDialVaria</string>
    <string>GrSmUpsilonWDialOxia</string>
    <string>GrSmUpsilonWDialPeris</string>
    <string>GrSmUpsilonWDialPeris.Por</string>
  </array>
  <key>public.kern2.GrSmUpsilonWPsili</key>
  <array>
    <string>GrSmUpsilonWPsili</string>
    <string>GrSmUpsilonWDasia</string>
    <string>GrSmUpsilonWPsiliVaria</string>
    <string>GrSmUpsilonWDasiaVaria</string>
    <string>GrSmUpsilonWPsiliOxia</string>
    <string>GrSmUpsilonWDasiaOxia</string>
    <string>GrSmUpsilonWPsiliPeris</string>
    <string>GrSmUpsilonWDasiaPeris</string>
    <string>GrSmUpsilonWDasiaPeris.Por</string>
    <string>GrSmUpsilonWPsiliPeris.Por</string>
  </array>
  <key>public.kern2.RtDblQuotMrk</key>
  <array>
    <string>RtDblQuotMrk</string>
    <string>RtSglQuotMrk</string>
  </array>
</dict>
</plist>
