<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>CyCapGheStrkHook</key>
  <string>C_yC_apG_heS_trkH_ook.glif</string>
  <key>CyCapHaStrk</key>
  <string>C_yC_apH_aS_trk.glif</string>
  <key>CyCapKa</key>
  <string>C_yC_apK_a.glif</string>
  <key>CyCapStraightU</key>
  <string>C_yC_apS_traightU_.glif</string>
  <key>CySmA</key>
  <string>C_yS_mA_.glif</string>
  <key>CySmAleutKa</key>
  <string>C_yS_mA_leutK_a.glif</string>
  <key>CySmCheVertStrk</key>
  <string>C_yS_mC_heV_ertS_trk.glif</string>
  <key>CySmGhe</key>
  <string>C_yS_mG_he.glif</string>
  <key>CySmGheStrk</key>
  <string>C_yS_mG_heS_trk.glif</string>
  <key>CySmHa</key>
  <string>C_yS_mH_a.glif</string>
  <key>CySmHaStrk</key>
  <string>C_yS_mH_aS_trk.glif</string>
  <key>CySmKa</key>
  <string>C_yS_mK_a.glif</string>
  <key>CySmKaStrk</key>
  <string>C_yS_mK_aS_trk.glif</string>
  <key>CySmKaVertStrk</key>
  <string>C_yS_mK_aV_ertS_trk.glif</string>
  <key>CySmStraightU</key>
  <string>C_yS_mS_traightU_.glif</string>
  <key>CySmStraightUStrk</key>
  <string>C_yS_mS_traightU_S_trk.glif</string>
  <key>CySmTshe</key>
  <string>C_yS_mT_she.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmA.sc</key>
  <string>L_tnS_mA_.sc.glif</string>
  <key>LtnSmAADigraph.sc</key>
  <string>L_tnS_mA_A_D_igraph.sc.glif</string>
  <key>LtnSmAODigraph.sc</key>
  <string>L_tnS_mA_O_D_igraph.sc.glif</string>
  <key>LtnSmAe</key>
  <string>L_tnS_mA_e.glif</string>
  <key>LtnSmAe.sc</key>
  <string>L_tnS_mA_e.sc.glif</string>
  <key>LtnSmBTopbar.sc</key>
  <string>L_tnS_mB_T_opbar.sc.glif</string>
  <key>LtnSmEStrk.sc</key>
  <string>L_tnS_mE_S_trk.sc.glif</string>
  <key>LtnSmTurnedA.sc</key>
  <string>L_tnS_mT_urnedA_.sc.glif</string>
  <key>RefMrk</key>
  <string>R_efM_rk.glif</string>
</dict>
</plist>
