<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GrBetaSym</key>
  <dict>
    <key>GrSmGamma</key>
    <integer>-20</integer>
    <key>GrSmLamda</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
  </dict>
  <key>GrCapBeta</key>
  <dict>
    <key>GrSmGamma</key>
    <integer>-41</integer>
    <key>GrSmRho</key>
    <integer>-31</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
  </dict>
  <key>GrCapChi</key>
  <dict>
    <key>GrCapOmicron</key>
    <integer>-59</integer>
    <key>GrCapPhi</key>
    <integer>-100</integer>
    <key>GrCapTheta</key>
    <integer>-59</integer>
    <key>GrSmNu</key>
    <integer>-100</integer>
    <key>GrSmTau</key>
    <integer>-121</integer>
    <key>GrSmTheta</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-49</integer>
  </dict>
  <key>GrCapDelta</key>
  <dict>
    <key>GrSmNu</key>
    <integer>-100</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-150</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-49</integer>
  </dict>
  <key>GrCapGamma</key>
  <dict>
    <key>GrCapDelta</key>
    <integer>-90</integer>
    <key>GrCapLamda</key>
    <integer>-121</integer>
    <key>GrSmRho</key>
    <integer>-160</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-100</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-100</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-121</integer>
  </dict>
  <key>GrCapKappa</key>
  <dict>
    <key>GrCapOmicron</key>
    <integer>-41</integer>
    <key>GrCapPhi</key>
    <integer>-100</integer>
    <key>GrCapTheta</key>
    <integer>-41</integer>
    <key>GrSmNu</key>
    <integer>-100</integer>
    <key>GrSmTau</key>
    <integer>-100</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-49</integer>
  </dict>
  <key>GrCapLamda</key>
  <dict>
    <key>GrCapPhi</key>
    <integer>-59</integer>
    <key>GrCapTau</key>
    <integer>-121</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-180</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-41</integer>
  </dict>
  <key>GrCapOmega</key>
  <dict>
    <key>GrCapChi</key>
    <integer>-41</integer>
    <key>GrCapPsi</key>
    <integer>-41</integer>
    <key>GrCapSigma</key>
    <integer>-41</integer>
    <key>GrCapTau</key>
    <integer>-20</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-80</integer>
  </dict>
  <key>GrCapOmicron</key>
  <dict>
    <key>GrCapChi</key>
    <integer>-59</integer>
    <key>GrCapLamda</key>
    <integer>-49</integer>
    <key>GrCapPsi</key>
    <integer>-20</integer>
    <key>GrCapSigma</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-59</integer>
  </dict>
  <key>GrCapPhi</key>
  <dict>
    <key>GrCapChi</key>
    <integer>-100</integer>
    <key>GrCapLamda</key>
    <integer>-70</integer>
    <key>GrCapSigma</key>
    <integer>-80</integer>
    <key>GrSmLamda</key>
    <integer>-100</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-70</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-100</integer>
  </dict>
  <key>GrCapPsi</key>
  <dict>
    <key>GrCapOmega</key>
    <integer>-31</integer>
    <key>GrCapOmicron</key>
    <integer>-41</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-180</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-100</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-100</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-41</integer>
  </dict>
  <key>GrCapRho</key>
  <dict>
    <key>GrCapDelta</key>
    <integer>-80</integer>
    <key>GrCapLamda</key>
    <integer>-100</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-100</integer>
  </dict>
  <key>GrCapTau</key>
  <dict>
    <key>GrCapLamda</key>
    <integer>-121</integer>
    <key>GrCapPhi</key>
    <integer>-31</integer>
    <key>GrSmRho</key>
    <integer>-139</integer>
    <key>GrSmSigma</key>
    <integer>-150</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-80</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-80</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-121</integer>
  </dict>
  <key>GrCapTheta</key>
  <dict>
    <key>GrCapLamda</key>
    <integer>-49</integer>
    <key>GrSmLamda</key>
    <integer>-41</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-31</integer>
  </dict>
  <key>GrPhiSym</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmFinSigma</key>
    <integer>31</integer>
    <key>GrSmGamma</key>
    <integer>-31</integer>
    <key>GrSmTheta</key>
    <integer>31</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-20</integer>
  </dict>
  <key>GrSmBeta</key>
  <dict>
    <key>GrSmGamma</key>
    <integer>-20</integer>
    <key>GrSmLamda</key>
    <integer>-31</integer>
    <key>GrSmRho</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmChi</key>
  <dict>
    <key>GrSmLamda</key>
    <integer>-49</integer>
    <key>GrSmPhi</key>
    <integer>-49</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmDelta</key>
  <dict>
    <key>public.kern2.GrSmIota</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-20</integer>
  </dict>
  <key>GrSmGamma</key>
  <dict>
    <key>GrSmDelta</key>
    <integer>-31</integer>
    <key>GrSmLamda</key>
    <integer>-49</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmIotaWDialTonos</key>
  <dict>
    <key>GrSmLamda</key>
    <integer>121</integer>
  </dict>
  <key>GrSmLamda</key>
  <dict>
    <key>GrBetaSym</key>
    <integer>-31</integer>
    <key>GrPhiSym</key>
    <integer>-31</integer>
    <key>GrSmBeta</key>
    <integer>-20</integer>
    <key>GrSmChi</key>
    <integer>-100</integer>
    <key>GrSmDelta</key>
    <integer>-31</integer>
    <key>GrSmGamma</key>
    <integer>-111</integer>
    <key>GrSmKappa</key>
    <integer>-31</integer>
    <key>GrSmMu</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-111</integer>
    <key>GrSmPi</key>
    <integer>-20</integer>
    <key>GrSmPsi</key>
    <integer>-80</integer>
    <key>GrSmRho</key>
    <integer>-20</integer>
    <key>GrSmSigma</key>
    <integer>-20</integer>
    <key>GrSmTau</key>
    <integer>-80</integer>
    <key>GrSmTheta</key>
    <integer>-41</integer>
    <key>GrThetaSym</key>
    <integer>-31</integer>
    <key>RtSglQuotMrk</key>
    <integer>-240</integer>
    <key>public.kern2.GrSmEta</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-41</integer>
  </dict>
  <key>GrSmMu</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-41</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmNu</key>
  <dict>
    <key>GrSmChi</key>
    <integer>10</integer>
    <key>GrSmDelta</key>
    <integer>-31</integer>
    <key>GrSmLamda</key>
    <integer>-49</integer>
    <key>GrSmPhi</key>
    <integer>-31</integer>
    <key>GrSmPi</key>
    <integer>-20</integer>
    <key>GrSmRho</key>
    <integer>-41</integer>
    <key>GrSmSigma</key>
    <integer>-31</integer>
    <key>GrSmTau</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-20</integer>
  </dict>
  <key>GrSmPhi</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-31</integer>
    <key>GrSmLamda</key>
    <integer>-31</integer>
    <key>GrSmTau</key>
    <integer>-31</integer>
    <key>GrSmTheta</key>
    <integer>31</integer>
  </dict>
  <key>GrSmRho</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-41</integer>
    <key>GrSmGamma</key>
    <integer>-20</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-20</integer>
    <key>GrSmTheta</key>
    <integer>20</integer>
  </dict>
  <key>GrSmSigma</key>
  <dict>
    <key>GrSmGamma</key>
    <integer>41</integer>
    <key>GrSmNu</key>
    <integer>41</integer>
  </dict>
  <key>GrSmTau</key>
  <dict>
    <key>GrSmFinSigma</key>
    <integer>-49</integer>
    <key>GrSmPhi</key>
    <integer>-41</integer>
    <key>GrSmRho</key>
    <integer>-41</integer>
    <key>GrSmSigma</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-59</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmTheta</key>
  <dict>
    <key>GrSmLamda</key>
    <integer>-31</integer>
  </dict>
  <key>GrSmXi</key>
  <dict>
    <key>GrSmLamda</key>
    <integer>20</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-20</integer>
  </dict>
  <key>GrSmZeta</key>
  <dict>
    <key>GrSmBeta</key>
    <integer>20</integer>
    <key>GrSmLamda</key>
    <integer>41</integer>
    <key>GrSmNu</key>
    <integer>-121</integer>
    <key>GrSmRho</key>
    <integer>20</integer>
    <key>GrSmTau</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmOmega</key>
    <integer>-41</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-49</integer>
  </dict>
  <key>LtnCapA</key>
  <dict>
    <key>LtnCapC</key>
    <integer>-27</integer>
    <key>LtnCapG</key>
    <integer>-27</integer>
    <key>LtnCapO</key>
    <integer>-27</integer>
    <key>LtnCapQ</key>
    <integer>-27</integer>
    <key>LtnCapT</key>
    <integer>-90</integer>
    <key>LtnCapU</key>
    <integer>-90</integer>
    <key>LtnCapV</key>
    <integer>-162</integer>
    <key>LtnCapW</key>
    <integer>-90</integer>
    <key>LtnCapY</key>
    <integer>-162</integer>
    <key>LtnSmV</key>
    <integer>-90</integer>
    <key>LtnSmW</key>
    <integer>-72</integer>
    <key>LtnSmY</key>
    <integer>-90</integer>
    <key>public.kern2.RtDblQuotMrk</key>
    <integer>-180</integer>
  </dict>
  <key>LtnCapC</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-53</integer>
  </dict>
  <key>LtnCapD</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-49</integer>
    <key>LtnCapV</key>
    <integer>-53</integer>
    <key>LtnCapW</key>
    <integer>-20</integer>
    <key>LtnCapY</key>
    <integer>-53</integer>
  </dict>
  <key>LtnCapF</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-135</integer>
    <key>LtnSmA</key>
    <integer>-72</integer>
    <key>LtnSmE</key>
    <integer>-72</integer>
    <key>LtnSmO</key>
    <integer>-72</integer>
    <key>public.kern2.FullStop</key>
    <integer>-180</integer>
  </dict>
  <key>LtnCapK</key>
  <dict>
    <key>LtnCapO</key>
    <integer>-53</integer>
  </dict>
  <key>LtnCapL</key>
  <dict>
    <key>LtnCapT</key>
    <integer>-125</integer>
    <key>LtnCapV</key>
    <integer>-160</integer>
    <key>LtnCapW</key>
    <integer>-80</integer>
    <key>LtnCapY</key>
    <integer>-121</integer>
    <key>public.kern2.RtDblQuotMrk</key>
    <integer>-180</integer>
  </dict>
  <key>LtnCapO</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-41</integer>
    <key>LtnCapV</key>
    <integer>-53</integer>
    <key>LtnCapX</key>
    <integer>-59</integer>
    <key>LtnCapY</key>
    <integer>-53</integer>
  </dict>
  <key>LtnCapP</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-111</integer>
    <key>public.kern2.FullStop</key>
    <integer>-180</integer>
  </dict>
  <key>LtnCapR</key>
  <dict>
    <key>LtnCapT</key>
    <integer>-37</integer>
    <key>LtnCapV</key>
    <integer>-111</integer>
    <key>LtnCapW</key>
    <integer>-53</integer>
  </dict>
  <key>LtnCapT</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-135</integer>
    <key>LtnSmA</key>
    <integer>-72</integer>
    <key>LtnSmE</key>
    <integer>-72</integer>
    <key>LtnSmO</key>
    <integer>-72</integer>
    <key>public.kern2.FullStop</key>
    <integer>-117</integer>
  </dict>
  <key>LtnCapU</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-90</integer>
  </dict>
  <key>LtnCapV</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-170</integer>
    <key>LtnCapG</key>
    <integer>-59</integer>
    <key>LtnCapO</key>
    <integer>-59</integer>
    <key>LtnSmA</key>
    <integer>-90</integer>
    <key>LtnSmE</key>
    <integer>-90</integer>
    <key>LtnSmO</key>
    <integer>-90</integer>
    <key>public.kern2.FullStop</key>
    <integer>-233</integer>
  </dict>
  <key>LtnCapW</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-100</integer>
    <key>LtnCapO</key>
    <integer>-20</integer>
    <key>LtnSmA</key>
    <integer>-49</integer>
    <key>LtnSmE</key>
    <integer>-49</integer>
    <key>LtnSmO</key>
    <integer>-49</integer>
    <key>public.kern2.FullStop</key>
    <integer>-180</integer>
  </dict>
  <key>LtnCapY</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-162</integer>
    <key>LtnCapO</key>
    <integer>-90</integer>
    <key>LtnCapS</key>
    <integer>-41</integer>
    <key>LtnSmA</key>
    <integer>-121</integer>
    <key>LtnSmE</key>
    <integer>-129</integer>
    <key>LtnSmO</key>
    <integer>-129</integer>
    <key>LtnSmU</key>
    <integer>-59</integer>
    <key>public.kern2.FullStop</key>
    <integer>-180</integer>
  </dict>
  <key>LtnSmA</key>
  <dict>
    <key>LtnSmV</key>
    <integer>-27</integer>
    <key>LtnSmW</key>
    <integer>-27</integer>
  </dict>
  <key>LtnSmC</key>
  <dict>
    <key>LtnSmH</key>
    <integer>-27</integer>
    <key>LtnSmK</key>
    <integer>-27</integer>
  </dict>
  <key>LtnSmE</key>
  <dict>
    <key>LtnSmX</key>
    <integer>-27</integer>
  </dict>
  <key>LtnSmF</key>
  <dict>
    <key>public.kern2.RtDblQuotMrk</key>
    <integer>199</integer>
  </dict>
  <key>LtnSmK</key>
  <dict>
    <key>LtnSmE</key>
    <integer>-14</integer>
  </dict>
  <key>LtnSmM</key>
  <dict>
    <key>LtnSmY</key>
    <integer>-31</integer>
  </dict>
  <key>LtnSmN</key>
  <dict>
    <key>LtnSmV</key>
    <integer>-31</integer>
    <key>LtnSmY</key>
    <integer>-31</integer>
  </dict>
  <key>LtnSmO</key>
  <dict>
    <key>LtnSmV</key>
    <integer>-37</integer>
    <key>LtnSmW</key>
    <integer>-27</integer>
    <key>LtnSmX</key>
    <integer>-20</integer>
  </dict>
  <key>LtnSmR</key>
  <dict>
    <key>LtnSmA</key>
    <integer>-59</integer>
    <key>LtnSmC</key>
    <integer>-41</integer>
    <key>LtnSmD</key>
    <integer>-31</integer>
    <key>LtnSmE</key>
    <integer>-49</integer>
    <key>LtnSmG</key>
    <integer>-41</integer>
    <key>LtnSmO</key>
    <integer>-20</integer>
    <key>LtnSmQ</key>
    <integer>-41</integer>
    <key>public.kern2.FullStop</key>
    <integer>-180</integer>
  </dict>
  <key>LtnSmV</key>
  <dict>
    <key>LtnSmA</key>
    <integer>-20</integer>
    <key>LtnSmE</key>
    <integer>-20</integer>
    <key>LtnSmO</key>
    <integer>-20</integer>
    <key>public.kern2.FullStop</key>
    <integer>-121</integer>
  </dict>
  <key>LtnSmW</key>
  <dict>
    <key>public.kern2.FullStop</key>
    <integer>-41</integer>
  </dict>
  <key>LtnSmX</key>
  <dict>
    <key>LtnSmE</key>
    <integer>-14</integer>
  </dict>
  <key>LtnSmY</key>
  <dict>
    <key>LtnSmA</key>
    <integer>-20</integer>
    <key>LtnSmE</key>
    <integer>-31</integer>
    <key>LtnSmO</key>
    <integer>-20</integer>
    <key>public.kern2.FullStop</key>
    <integer>-121</integer>
  </dict>
  <key>public.kern1.FullStop</key>
  <dict>
    <key>public.kern2.RtDblQuotMrk</key>
    <integer>-250</integer>
  </dict>
  <key>public.kern1.GrCapAlpha</key>
  <dict>
    <key>GrCapOmicron</key>
    <integer>-31</integer>
    <key>GrCapPhi</key>
    <integer>-59</integer>
    <key>GrCapPsi</key>
    <integer>-160</integer>
    <key>GrCapTau</key>
    <integer>-121</integer>
    <key>GrCapTheta</key>
    <integer>-31</integer>
    <key>GrSmChi</key>
    <integer>-121</integer>
    <key>GrSmGamma</key>
    <integer>-121</integer>
    <key>GrSmNu</key>
    <integer>-121</integer>
    <key>GrSmTau</key>
    <integer>-90</integer>
    <key>GrSmTheta</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-180</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilonWDial</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilonWPsili</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1.GrCapAlphaWTonos</key>
  <dict>
    <key>GrCapOmicron</key>
    <integer>-31</integer>
    <key>GrCapPhi</key>
    <integer>-59</integer>
    <key>GrCapPsi</key>
    <integer>-160</integer>
    <key>GrCapTau</key>
    <integer>-121</integer>
    <key>GrCapTheta</key>
    <integer>-31</integer>
    <key>GrSmChi</key>
    <integer>-121</integer>
    <key>GrSmGamma</key>
    <integer>-121</integer>
    <key>GrSmNu</key>
    <integer>-121</integer>
    <key>GrSmTau</key>
    <integer>-90</integer>
    <key>GrSmTheta</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-180</integer>
    <key>public.kern2.GrSmUpsilon</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilonWDial</key>
    <integer>-31</integer>
    <key>public.kern2.GrSmUpsilonWPsili</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1.GrCapOmegaWTonos</key>
  <dict>
    <key>GrCapChi</key>
    <integer>-41</integer>
    <key>GrCapPsi</key>
    <integer>-41</integer>
    <key>GrCapSigma</key>
    <integer>-41</integer>
    <key>GrCapTau</key>
    <integer>-20</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.GrCapOmicronWTonos</key>
  <dict>
    <key>GrCapChi</key>
    <integer>-59</integer>
    <key>GrCapLamda</key>
    <integer>-49</integer>
    <key>GrCapPsi</key>
    <integer>-20</integer>
    <key>GrCapSigma</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-49</integer>
    <key>public.kern2.GrCapUpsilon</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.GrCapUpsilon</key>
  <dict>
    <key>GrCapDelta</key>
    <integer>-121</integer>
    <key>GrCapLamda</key>
    <integer>-121</integer>
    <key>GrCapOmicron</key>
    <integer>-41</integer>
    <key>GrCapPhi</key>
    <integer>-80</integer>
    <key>GrCapPsi</key>
    <integer>41</integer>
    <key>GrSmBeta</key>
    <integer>-31</integer>
    <key>GrSmDelta</key>
    <integer>-31</integer>
    <key>GrSmGamma</key>
    <integer>-70</integer>
    <key>GrSmMu</key>
    <integer>-49</integer>
    <key>GrSmNu</key>
    <integer>-49</integer>
    <key>GrSmPhi</key>
    <integer>-139</integer>
    <key>GrSmPi</key>
    <integer>-59</integer>
    <key>GrSmPsi</key>
    <integer>-59</integer>
    <key>GrSmRho</key>
    <integer>-139</integer>
    <key>GrSmSigma</key>
    <integer>-139</integer>
    <key>GrSmTau</key>
    <integer>-100</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-139</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-139</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-49</integer>
    <key>public.kern2.GrSmIotaWPsili</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-139</integer>
  </dict>
  <key>public.kern1.GrCapUpsilonWTonos</key>
  <dict>
    <key>GrCapDelta</key>
    <integer>-121</integer>
    <key>GrCapLamda</key>
    <integer>-121</integer>
    <key>GrCapOmicron</key>
    <integer>-41</integer>
    <key>GrCapPhi</key>
    <integer>-80</integer>
    <key>GrCapPsi</key>
    <integer>41</integer>
    <key>GrSmBeta</key>
    <integer>-31</integer>
    <key>GrSmDelta</key>
    <integer>-31</integer>
    <key>GrSmGamma</key>
    <integer>-70</integer>
    <key>GrSmMu</key>
    <integer>-49</integer>
    <key>GrSmNu</key>
    <integer>-49</integer>
    <key>GrSmPhi</key>
    <integer>-139</integer>
    <key>GrSmPi</key>
    <integer>-59</integer>
    <key>GrSmPsi</key>
    <integer>-59</integer>
    <key>GrSmRho</key>
    <integer>-139</integer>
    <key>GrSmSigma</key>
    <integer>-139</integer>
    <key>GrSmTau</key>
    <integer>-100</integer>
    <key>public.kern2.GrCapAlpha</key>
    <integer>-121</integer>
    <key>public.kern2.GrSmAlpha</key>
    <integer>-139</integer>
    <key>public.kern2.GrSmEpsilon</key>
    <integer>-139</integer>
    <key>public.kern2.GrSmIota</key>
    <integer>-49</integer>
    <key>public.kern2.GrSmIotaWPsili</key>
    <integer>-20</integer>
    <key>public.kern2.GrSmOmicron</key>
    <integer>-139</integer>
  </dict>
  <key>public.kern1.GrSmAlpha</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
    <key>GrSmFinSigma</key>
    <integer>-31</integer>
    <key>GrSmSigma</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1.GrSmAlphaWPsili</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
    <key>GrSmFinSigma</key>
    <integer>-31</integer>
    <key>GrSmSigma</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1.GrSmEpsilon</key>
  <dict>
    <key>GrSmFinSigma</key>
    <integer>-20</integer>
    <key>GrSmNu</key>
    <integer>-20</integer>
    <key>GrSmRho</key>
    <integer>-20</integer>
    <key>GrSmSigma</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GrSmEpsilonWPsili</key>
  <dict>
    <key>GrSmNu</key>
    <integer>-20</integer>
    <key>GrSmRho</key>
    <integer>-20</integer>
    <key>GrSmSigma</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GrSmEta</key>
  <dict>
    <key>GrSmFinSigma</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-31</integer>
    <key>GrSmTau</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.GrSmEtaWPsili</key>
  <dict>
    <key>GrSmFinSigma</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-31</integer>
    <key>GrSmTau</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.GrSmIota</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmGamma</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.GrSmIotaWDial</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmGamma</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.GrSmIotaWPsili</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmGamma</key>
    <integer>-31</integer>
    <key>GrSmNu</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.GrSmOmega</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
    <key>GrSmGamma</key>
    <integer>-49</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-41</integer>
    <key>GrSmZeta</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.GrSmOmegaWPsili</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
    <key>GrSmGamma</key>
    <integer>-49</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
    <key>GrSmTau</key>
    <integer>-41</integer>
    <key>GrSmZeta</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.GrSmOmicron</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmGamma</key>
    <integer>-20</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
  </dict>
  <key>public.kern1.GrSmOmicronWPsili</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-49</integer>
    <key>GrSmGamma</key>
    <integer>-20</integer>
    <key>GrSmNu</key>
    <integer>-41</integer>
  </dict>
  <key>public.kern1.GrSmUpsilon</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GrSmUpsilonWDial</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.GrSmUpsilonWPsili</key>
  <dict>
    <key>GrSmChi</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.LftDblQuotMrk</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-180</integer>
  </dict>
</dict>
</plist>
