<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BitcoinSgn</key>
  <string>B_itcoinS_gn.glif</string>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>LtnCapTnSix</key>
  <string>L_tnC_apT_nS_ix.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmRPalHook</key>
  <string>L_tnS_mR_P_alH_ook.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTnSix</key>
  <string>L_tnS_mT_nS_ix.glif</string>
  <key>LtnStretchedCCurl</key>
  <string>L_tnS_tretchedC_C_url.glif</string>
  <key>RefMrk</key>
  <string>R_efM_rk.glif</string>
  <key>SectionSgn</key>
  <string>S_ectionS_gn.glif</string>
  <key>SupplDownwardsAncora</key>
  <string>S_upplD_ownwardsA_ncora.glif</string>
</dict>
</plist>
