<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>DrachmaSgn</key>
  <string>D_rachmaS_gn.glif</string>
  <key>IndianRupeeSgn</key>
  <string>I_ndianR_upeeS_gn.glif</string>
  <key>LtnAlveolarClick.sc</key>
  <string>L_tnA_lveolarC_lick.sc.glif</string>
  <key>LtnCapGHook</key>
  <string>L_tnC_apG_H_ook.glif</string>
  <key>LtnDentalClick.sc</key>
  <string>L_tnD_entalC_lick.sc.glif</string>
  <key>LtnLateralClick.sc</key>
  <string>L_tnL_ateralC_lick.sc.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmAe.2StorySItal</key>
  <string>L_tnS_mA_e.2S_toryS_I_tal.glif</string>
  <key>LtnSmEshHook</key>
  <string>L_tnS_mE_shH_ook.glif</string>
  <key>LtnSmInsularR.sc</key>
  <string>L_tnS_mI_nsularR_.sc.glif</string>
  <key>LtnSmInsularS.sc</key>
  <string>L_tnS_mI_nsularS_.sc.glif</string>
  <key>LtnSmPHighCurl.sc</key>
  <string>L_tnS_mP_H_ighC_url.sc.glif</string>
  <key>LtnSmVisigothicZ.sc</key>
  <string>L_tnS_mV_isigothicZ_.sc.glif</string>
  <key>RefMrk</key>
  <string>R_efM_rk.glif</string>
</dict>
</plist>
