<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombDwnArrw</key>
  <string>C_ombD_wnA_rrw.glif</string>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>DigitEight.osf.001</key>
  <string>D_igitE_ight.osf.001.glif</string>
  <key>DigitFive.osf.001</key>
  <string>D_igitF_ive.osf.001.glif</string>
  <key>DigitFour.osf.001</key>
  <string>D_igitF_our.osf.001.glif</string>
  <key>DigitNine.osf.001</key>
  <string>D_igitN_ine.osf.001.glif</string>
  <key>DigitSix.osf.001</key>
  <string>D_igitS_ix.osf.001.glif</string>
  <key>DigitThree.osf.001</key>
  <string>D_igitT_hree.osf.001.glif</string>
  <key>DrachmaSgn</key>
  <string>D_rachmaS_gn.glif</string>
  <key>IndianRupeeSgn</key>
  <string>I_ndianR_upeeS_gn.glif</string>
  <key>LtnAlveolarClick.sc</key>
  <string>L_tnA_lveolarC_lick.sc.glif</string>
  <key>LtnCapGHook</key>
  <string>L_tnC_apG_H_ook.glif</string>
  <key>LtnCapTnSix</key>
  <string>L_tnC_apT_nS_ix.glif</string>
  <key>LtnDentalClick.sc</key>
  <string>L_tnD_entalC_lick.sc.glif</string>
  <key>LtnLateralClick.sc</key>
  <string>L_tnL_ateralC_lick.sc.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmAe.2StorySItal</key>
  <string>L_tnS_mA_e.2S_toryS_I_tal.glif</string>
  <key>LtnSmDezhDigraphRetrHook</key>
  <string>L_tnS_mD_ezhD_igraphR_etrH_ook.glif</string>
  <key>LtnSmEshHook</key>
  <string>L_tnS_mE_shH_ook.glif</string>
  <key>LtnSmInsularR.sc</key>
  <string>L_tnS_mI_nsularR_.sc.glif</string>
  <key>LtnSmInsularS.sc</key>
  <string>L_tnS_mI_nsularS_.sc.glif</string>
  <key>LtnSmPHighCurl.sc</key>
  <string>L_tnS_mP_H_ighC_url.sc.glif</string>
  <key>LtnSmQ</key>
  <string>L_tnS_mQ_.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTeshRetrHook</key>
  <string>L_tnS_mT_eshR_etrH_ook.glif</string>
  <key>LtnSmTnSix</key>
  <string>L_tnS_mT_nS_ix.glif</string>
  <key>LtnSmVisigothicZ.sc</key>
  <string>L_tnS_mV_isigothicZ_.sc.glif</string>
  <key>ModSmTurnedYBelt</key>
  <string>M_odS_mT_urnedY_B_elt.glif</string>
  <key>RefMrk</key>
  <string>R_efM_rk.glif</string>
</dict>
</plist>
