<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombDwnArrw</key>
  <string>C_ombD_wnA_rrw.glif</string>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>CySmAleutKa</key>
  <string>C_yS_mA_leutK_a.glif</string>
  <key>CySmDje</key>
  <string>C_yS_mD_je.glif</string>
  <key>CySmGhe</key>
  <string>C_yS_mG_he.glif</string>
  <key>CySmKaStrk</key>
  <string>C_yS_mK_aS_trk.glif</string>
  <key>CySmKaVertStrk</key>
  <string>C_yS_mK_aV_ertS_trk.glif</string>
  <key>CySmStraightU</key>
  <string>C_yS_mS_traightU_.glif</string>
  <key>CySmTshe</key>
  <string>C_yS_mT_she.glif</string>
  <key>DigitFour.osf</key>
  <string>D_igitF_our.osf.glif</string>
  <key>DigitOne.osf</key>
  <string>D_igitO_ne.osf.glif</string>
  <key>DigitThree.osf</key>
  <string>D_igitT_hree.osf.glif</string>
  <key>IndianRupeeSgn</key>
  <string>I_ndianR_upeeS_gn.glif</string>
  <key>LtnAlveolarClick.sc</key>
  <string>L_tnA_lveolarC_lick.sc.glif</string>
  <key>LtnCapGHook</key>
  <string>L_tnC_apG_H_ook.glif</string>
  <key>LtnCapTnSix</key>
  <string>L_tnC_apT_nS_ix.glif</string>
  <key>LtnDentalClick.sc</key>
  <string>L_tnD_entalC_lick.sc.glif</string>
  <key>LtnLateralClick.sc</key>
  <string>L_tnL_ateralC_lick.sc.glif</string>
  <key>LtnRetrClick.sc</key>
  <string>L_tnR_etrC_lick.sc.glif</string>
  <key>LtnSmCapTurnedK</key>
  <string>L_tnS_mC_apT_urnedK_.glif</string>
  <key>LtnSmDezhDigraphRetrHook</key>
  <string>L_tnS_mD_ezhD_igraphR_etrH_ook.glif</string>
  <key>LtnSmEshHook</key>
  <string>L_tnS_mE_shH_ook.glif</string>
  <key>LtnSmJ</key>
  <string>L_tnS_mJ_.glif</string>
  <key>LtnSmPHighCurl.sc</key>
  <string>L_tnS_mP_H_ighC_url.sc.glif</string>
  <key>LtnSmRevCMiddleDot.sc</key>
  <string>L_tnS_mR_evC_M_iddleD_ot.sc.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTeshRetrHook</key>
  <string>L_tnS_mT_eshR_etrH_ook.glif</string>
  <key>LtnSmTnSix</key>
  <string>L_tnS_mT_nS_ix.glif</string>
  <key>LtnSmVisigothicZ.sc</key>
  <string>L_tnS_mV_isigothicZ_.sc.glif</string>
  <key>RupeeSgn</key>
  <string>R_upeeS_gn.glif</string>
</dict>
</plist>
